JIRA_PROJECT_KEY=SUK
JIRA_USERNAME=
JIRA_PASSWORD=
JIRA_FAVOURITE_TICKETS=
FAVOURITE_WORKLOG_COMMENTS=
BRANCH_DEVELOPMENT=
BRANCH_DEPLOYMENT=
REPOSITORY=
#The project id can be found on the project main page on Gitlab
PROJECT_ID=
GITLAB_API_URL=
#Add your GitLab Personal Access Token to enable workflow automations
#Create your token with API scope here: https://git.votum-media.net/-/profile/personal_access_tokens
#The scope of api should be checked
GITLAB_PERSONAL_ACCESS_TOKEN=
PHP_IDE_CONFIG="serverName=workflow"
DEPLOYMENT_PROJECT_NAME=
#devops-metrics or devops-metrics-sandbox
DEPLOYMENT_BUCKET=
INFLUX_DB_TOKEN=
