{
    "source": {
        "directories": [
            "src/Console"
        ],
        "excludes": ["/Factory\\.php/", "/Bootstrap\\.php/"]
    },
    "phpUnit": {
        "configDir": "tests"
    },
    "logs": {
        "text": "tests/output/infection/infection.log",
        "summary": "tests/output/infection/summary.log",
        "json": "tests/output/infection/infection-log.json"
    },
    "mutators": {
        "@default": true
    }
}